/* :host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
} */

:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
    background-color: lightgrey;
    padding: 0.5rem 0.5rem;
}
